version: "3.9"

services:
  web:
    image: glanzfluss/glanzfluss:latest
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      - RESEND_API_KEY=${RESEND_API_KEY}